/*
* Travel agency
* Created by : Negin Soleimani
* website : https://github.com/neginsoleimani
*/


@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f9;
    font-family: 'Inter', sans-serif;
}


#landingPage {
    background-image: url("./images/image1.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

#logo {
    font-size: 1.8rem;
    font-weight: bold;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

nav a:hover {
    color: #9cc0fa;
    transition: 1s;
    transition-delay: 0.2s;
}


#signBtn {
    color: #9cc0fa;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;

}


#signBtn:hover {
    background-color: #9cc0fa;
    color: white;
    transition: 0.8s;
}


.Slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.Slogan h1,
h6 {
    text-align: center;
    color: white;
}

.Slogan h1 {
    font-size: 4rem;
    line-height: 1.32;
}

.Slogan h6 {
    padding-top: 10px;
    font-size: 1rem;
    line-height: 1.8;
}

.reservationTicket {
    width: 80%;
    margin: 0 auto;
}

.selectionBox {
    background-color: white;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 16px 16px 0 0;
}

.selectionBox h4 {
    padding: 20px 0;
    color: #475360;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-top: 20px;
    cursor: pointer;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e86f5;
    border-radius: 60px;
    width:180px;
    height: 180px;
    cursor: pointer;
}

.reservationBoxContainer {
    background-color: white;
    border-radius: 0 16px 16px 16px;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.reservationBox {
    border: 3px solid #f7f7f9;
    width: 35%;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reservationBox h5 {
    color: #9aa4b6;
    padding: 6px 0;
}

.reservationBox h3 {
    color: #475360;
}

.mainContainer {
    margin: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer h1 {
    font-weight: bold;
    font-size: 2.8rem;
    color: #122232;
    margin-bottom: 30px;
}

.specialBox {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    border-radius: 16px;
    width: 65%;
    padding: 5px 0;
}

.specialBox a {
    color: #9aa4b6;
    font-weight: bold;
    cursor: pointer;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 350px;
    height: 430px;
    margin: 0 20px;
    border-radius: 32px;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.card img {
    width: 90%;
    border-radius: 32px;
    margin: 0 auto;
}

.card-title {
    display: flex;
    padding: 15px;
    align-items: center;
}


.a-blue {
    background-color: #edecfe;
    color: #a1a3e9;
    padding: 5px 8px;
    border-radius: 15px;
}


.a-pink {
    background-color: #fee9f4;
    color: #ed4fa0;
    padding: 5px 8px;
    border-radius: 15px;
}

.card-title h4 {
    color: #9aa4b6;
    padding-left: 12px;
    font-size: 0.8rem;
}

.card h2 {
    color: #122232;
    padding: 5px 20px;
    margin-bottom: 10px;
}

.buy-ticket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.buy-ticket a {
    text-decoration: none;
    background-color: #f0f7ff;
    color: #6ca3f6;
    border-radius: 12px;
    padding: 15px;
    font-weight: bold;
    font-size: 0.8rem;
}


.price {
    display: flex;
    align-items: center;
}

.short {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 120px;
    margin-top: 50px;
}

.short img {
    width: 80%;
    border-radius: 16px;
    margin: 0 auto;
}

.short h1 {
    color: #122232;
    line-height: 1.5;
    padding-bottom: 15px;
    font-weight: bold;
}

.short p {
    color: #475360;
    font-weight: 500;
    text-align: justify;
    padding-bottom: 35px;
    width: 90%;
}

.short a {
    text-decoration: none;
    background-color: #3e86f5;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 1px 18px 30px -10px rgba(27,99,186,0.75);
    -webkit-box-shadow: 1px 18px 30px -10px rgba(27,99,186,0.75);
    -moz-box-shadow: 1px 18px 30px -10px rgba(27,99,186,0.75);
}

.recommendationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommendationContainer h1{
    color: #122232;
    font-size: 2.7rem;
    font-weight: bold;
    margin-top:60px;
}

.recommend{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.recommend a{
    padding: 0 30px;
    text-decoration: none;
    color: #475360;
    font-weight: bold;
    cursor: pointer;
}

#recomend-active{
padding: 10px  30px;
background-color: white;
border-radius: 14px;
color: #3e86f5;
}

.recommendcard-container{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-gap:20px;
    padding:0 120px ;
    margin-bottom: 50px;
}

.recommendcard{
    background-color: white;
    border-radius: 16px;
    padding: 15px;
    cursor: pointer;
}

.recommendcard img{
    width: 100%;
    border-radius: 16px;
}

.recommendcard h4{
    color: #475360;
    padding:8px;
}

.recommendcard h5{
    color: #9aa4b6;
    padding: 5px 8px;
}


.discount{
    padding: 100px ;
    background-color: #3e86f5;
    margin:  0 auto;
    text-align: center;
    color: white;
    border-radius: 50px;
    width: 85%;
    background-image: url("./images/820-8209279_white-world-map-png-world-map-white-png.png");
    background-size: cover;

}

.discount h1{
    padding: 50px 0;
}

.discount a{
    text-decoration: none;
    padding:15px 30px;
    color: #3e86f5;
    background-color: white;
    font-weight: bold;
    border-radius: 16px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    padding-right: 100px;
    padding-left: 120px;
    font-weight: bold;
}

footer h5{
    color: #9aa4b6;
    font-size: 0.9rem;
}

.footer-link{
    display: flex;
    align-items: center;
}

.footer-link a{
padding: 0 20px;
text-decoration: none;
color: #475360;
}